In [2]:
array = [4, 4.5, 4, 6, 10, 55 ,23, 100]
array

[4, 4.5, 4, 6, 10, 55, 23, 100]

In [3]:
mylist = ["apple", "banana", "cherry"]
mylist

['apple', 'banana', 'cherry']

In [4]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [5]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [6]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [7]:
# A list with strings, integers and boolean values:
list1 = ["abc", 34, True, 40, "male"]

In [8]:
# type
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

### The list() Constructor

In [10]:
# It is also possible to use the list() constructor when creating a new list.
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

# Python - Access List Items

## Access Items

In [11]:
# List items are indexed and you can access them by referring to the index number:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [12]:
thislist = ["apple", "banana", "cherry"]
print(thislist[2])

cherry

In [18]:
data = [4, 4.5, 4, 6, 10, 55 ,23, 100, 3+5j]
data

[4, 4.5, 4, 6, 10, 55, 23, 100, (3+5j)]

In [23]:
data[0]  # find first value
data[:]  # All rows & cols
data[::] # All rows & cols
data[::-1] # All rows & cols
data[::-2] # All rows & cols

[(3+5j), 23, 10, 4, 4]

In [52]:
num = [500, 700, 800, 900]
num[::-1] # Reverse
num

[500, 700, 800, 900]

In [55]:
num = [500, 700, 800, 900]
num.reverse()
num

[900, 800, 700, 500]

## Negative Indexing

In [13]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

## Range of Indexes

In [14]:
# You can specify a range of indexes by specifying where to start and where to end the range.
# When specifying a range, the return value will be a new list with the specified items.

In [16]:
# Return the third, fourth, and fifth item:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [17]:
# This example returns the items from the beginning to, but NOT including, "kiwi":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

## Update

In [24]:
thislist = ["apple", "banana", "cherry"]

In [27]:
thislist[0] = "Jackfruit"
thislist[2] = "Mango"

In [28]:
thislist

['Jackfruit', 'banana', 'Mango']

In [31]:
# Update two values at a time
num = [100, 200, 300, 500, 700]
num[2:4] = 1000, 2000
num

[100, 200, 1000, 2000, 700]

# List Method

In [34]:
# Append
nums = [100, 200, 300, 500, 700]
nums.append(1000) # append add value end of the list, generally add at last
nums

[100, 200, 300, 500, 700, 1000]

In [38]:
# Insert
nums = [100, 200, 300, 500, 700]
nums.insert(0,500) # index will index loc first then update value as per given index position
nums

[500, 100, 200, 300, 500, 700]

In [40]:
# Extend / Merge / Join multiple list
list1 = [100, 200, 300]
list2 = [400, 500, 600]

list1.extend(list2)     # list 1 + list 2
list1

[100, 200, 300, 400, 500, 600]

In [41]:
# Extend / Merge / Join multiple list
list = [100, 200, 300]
list.extend([250,450,650])     # list 1 + list 2
list

[100, 200, 300, 250, 450, 650]

In [42]:
# Count 
list = [100, 500, 500,500,200]
list.count(500) # count the value withing given list

3

In [44]:
list = ["apple", "banana", "cherry","Mango","Mango"]
list.count('Mango')   # count the value withing given list

2

In [45]:
# Return the Index Position
list = ["apple", "banana", "cherry","Mango","Mango"]
list.index('banana')

1

In [46]:
# Return the Index Position
list = ["apple", "banana", "cherry","Mango","Mango"]
list.index('Mango')

3

In [47]:
# Pop
list = ["apple", "banana", "cherry","Mango","Mango"]
list.pop() # remove from last index position e.g Mango
list.pop(1) # remove from last index position e.g Mango

'Mango'

In [48]:
list

['apple', 'banana', 'cherry', 'Mango']

In [50]:
list = ["apple", "banana", "cherry","Mango","Mango"]
list.pop(1) # remove by given index position

['apple', 'cherry', 'Mango', 'Mango']

In [57]:
list = ["apple", "banana", "cherry","Mango","Lichy"]
len(list)

5